<!-- footer -->
<footer class="brand">
    <div class="container py-1">
        {% include logo.html %}
    </div>
</footer>
<section class="bg-pale">
    <div class="container">
        <div class="flex justify-content-between my-1">
            <div class="text-sm">
                Unit 200<br />
                South Liberty Lane<br />
                Ashton Vale trading Estate<br />
                Bristol<br />
                BS3 2TW
            </div>
            <a href="#">
                <img src="assets/fb.png" alt="Find us on Facebook" width="100"/>
            </a>
        </div>
        <p class="text-sm my-1">
            <a href="#">Terms &amp; conditions</a>
        </p>
    </div>
</section>
