<!-- footer -->
<footer class="footer">
    <div class="container">
        {% include logo.html %}
    </div>
    <hr />
    <div class="container">
        <div class="address">
            Unit 200<br />
            South Liberty Lane<br />
            Ashton Vale trading Estate<br />
            Bristol<br />
            BS3 2TW
        </div>
    </div>
</footer>
<div class="container flex justify-content-between my-1">
    <a href="#" class="terms">Terms &amp; conditions</a>
    <a href="#" class="logo-fb">
        <img src="assets/fb.png" alt="Find us on Facebook" />
    </a>
</div>
