<form class="form" action="{{ site.formspree }}" method="POST">
    {% include form-input.html type="hidden" name="_next" value="thanks.html" %}
    {% include form-input.html type="hidden" name="_subject" value="Offer submission!" %}
    {% include form-field.html required="required" type="text" name="name" placeholder="Name" %}
    {% include form-field.html required="required" type="email" name="_replyto" placeholder="Email" %}
    {% include form-field.html type="text" name="reg" placeholder="Car reg number" %}
    <input class="hidden" data-toggle="datepicker" type="text" name="date" placeholder="Select a date">
    <div class="datepicker-wrapper mx-auto"></div>
    <div class="form__field text-center">
        <p class="text-center text-sm">We respect your privacy and will never share your details without your consent.</p>
        <button class="btn" type="submit" value="Send">Submit</button>
    </div>
</form>
