// Base

html {
    color: $colour-base;
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h4, h5, h6 {
    color: $colour-heading;
}

a {
    transition: color 0.2s ease-out;
    color: $link-colour;
    text-decoration: none;

    &:hover {
        color: $link-colour-hover;
        text-decoration: underline;
    }
}

hr {
    border: 0;
    border-top: 2px solid $colour-highlight;
    margin: 0.8rem 0;
}
