// Base

html {
    color: $colour-base;
    font-weight: 300;
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h4, h5, h6 {
    font-family: $heading-font-family;
    font-weight: 400;
    color: $colour-heading;
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;

    .modal & {
        margin-top: 0;
        margin-bottom: 1rem;
    }
}

h1 {
    font-size: 2rem;
    line-height: 3rem;

    @include media(">tablet") {
        font-size: $h1-font-size;
        line-height: 4rem;
    }
}

b, strong {
    font-weight: 400;
}

a {
    transition: color 0.2s ease-out;
    color: $link-colour;
    text-decoration: none;

    &:hover {
        color: $link-colour-hover;
        text-decoration: underline;
    }
}
