// Base

html {
    color: $colour-base;
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h4, h5, h6 {
    font-family: $heading-font-family;
    line-height: $base-line-height;
    color: $colour-heading;
    font-weight: 300;
}

h1 { font-size: $h1-font-size; }
h2 { font-size: $h2-font-size; }
h3 { font-size: $h3-font-size; }
h4 { font-size: $h4-font-size; }
h5 { font-size: $h5-font-size; }
h6 { font-size: $h6-font-size; }

a {
    transition: color 0.2s ease-out;
    color: $link-colour;
    text-decoration: none;

    &:hover {
        color: $link-colour-hover;
        text-decoration: underline;
    }
}
