// layout
.flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

// spacing/positioning
.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.snug-top {
    margin-top: -24px;
}

.w-70-tablet {
    @include media(">tablet") {
        max-width: 70%;
    }
}


// Typogrpahy
.text-sm {
    font-size: $font-size-sm;
    line-height: 1.3;
}

.text-light {
    color: $color-gray;
}

.text-star {
 color: $colour-star;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

// Theming
.brand {
    background-color: $colour-dark;
    border-bottom: 2px solid $colour-highlight;
}

.bg-pale {
    background-color: #fafafa;
}

// Utilities
.has-dropdown {
    border-radius: 4px;
    background-color: $form-input-bg;

    select::-ms-expand,
    option::-ms-expand  {
        display: none;
    }

    select {
        background-color: transparent;
        position: relative;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        &:focus {
            background-color: transparent;
        }
    }
}

.has-arrow {
    position: relative;

    &:before {
        content:'';
        position: absolute;
        top: ($base-line-height + $dropdown-arrow-size) / 4;
        right: $base-font-size;
        display: inline-block;
        border-top: 1px solid $colour-base;
    	border-left: 1px solid $colour-base;
        width: $dropdown-arrow-size;
        height: $dropdown-arrow-size;
    }

    &.-down {

        &:before {
            transform: rotate(225deg);
        }
    }
}

.linky {
    position: relative;

    a {
        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }

}
