// layout
#main {
    background: url(../assets/hero-bg.jpg) 0 70px no-repeat;
    background-size: 100%;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.container {
    padding: 0 1.33rem;

    @include media(">desktop") {
        max-width: $container-max-width;
        margin: 0 auto;
    }
}

header {
    position: fixed;
    width: 100%;
    z-index: 1;
}


.clear-hero {
    border-top: 0;
    margin-top: 50%;
    overflow: auto; // prevent H1 margin colapse

    @include media(">tablet") {
        margin-top: 33%;
    }

    h1 {
        margin-bottom: 0;
    }
}

.clear-header {
    border-top: 0;
    margin-top: 70px;
    overflow: auto; // prevent H1 margin colapse

    h1 {
        margin-bottom: 0;
    }

}

section {
    border-top: 1px solid $border-color;
    padding-bottom: 3.2rem;
    background-color: #fff;
}

.grid  {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;

  .col {
    flex: 1;
    margin: 1rem;
  }
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    @include media('>tablet') {
        flex-direction: row;
        align-items: stretch;
    }

    .card {
        margin-bottom: 1.5rem;

        @include media('>tablet') {
            min-width: 20rem
        }
    }
}

footer {

    .logo {
        display: inline-block;
    }
}
