// layout
.container {
    padding: 0 1.33rem;

    @include media(">tablet") {
        max-width: $container-max-width;
        margin: 0 auto;
    }
}

header {
    position: fixed;
    width: 100%;
}

footer {

    .logo {
        display: inline-block;
    }
}

section {
    border-top: 1px solid $border-color;
}
