$base-line-height: 3;

$heading-font-family: "Oxygen", sans-serif;

$container-max-width: 960px;

$colour-primary: #0c59cf;
$colour-highlight: #e61610;
$colour-dark: #232323;
$color-gray: #aaa;
$colour-star: #EB6E00;

$colour-base: #555;
$colour-heading: $colour-base;
$colour-error: rgb(255,0,0);
$colour-success: #6C0;

$font-size-xs: 0.67 * $base-font-size;
$font-size-sm: 0.8 * $base-font-size;

$link-colour: $colour-primary;
$link-colour-hover: $colour-primary;

$border-color: #eee;

$btn-bg: $colour-dark;
$btn-bg-hover: transparent;
$btn-colour: #FFF;
$btn-colour-hover: $btn-colour;
$btn-border: transparent;
$btn-border-hover: $btn-border;

$btn-bg-light: $border-color;
$btn-bg-light-hover: $btn-bg-light;
$btn-colour-light: $colour-base;
$btn-colour-light-hover: $colour-base;
$btn-border-light: transparent;
$btn-border-light-hover: transparent;

$btn-bg-ghost: transparent;
$btn-bg-ghost-hover: $colour-dark;
$btn-colour-ghost: $colour-dark;
$btn-colour-ghost-hover: #FFF;
$btn-border-ghost: $colour-dark;
$btn-border-ghost-hover: $colour-dark;

$sign-up-width: 500px;
$sign-up-width-tablet: 343px;

$form-input-bg: #FFF;
$form-input-bg-focus: $form-input-bg;
$form-input-border: #CCC;
$form-input-border-focus: $colour-primary;
$form-input-placeholder-colour: $colour-base;

$dropdown-arrow-size: 12px;
