<!doctype html>
<html lang="en-GB">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ page.title }}</title>
        <meta name="description" content="{{ site.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- <link rel="manifest" href="site.webmanifest"> -->
        <!-- <link rel="apple-touch-icon" href="icon.png"> -->
        <!-- Place favicon.ico in the root directory -->
        <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400|Oxygen:300" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="assets/all.css">
    </head>
    <body>
        {% include upgrade.html %}
        <div id="main">
            {% include header.html %}
            {{ page.content }}
            {% include footer.html %}
        </div>
        {% include scripts.html %}
    </body>
</html>
