<!doctype html>
<html lang="en-GB">
    {% include head.html %}
    <body>
        {% include upgrade.html %}
        <div id="main">
            {% include header.html %}
            <section class="clear-head">
                <div class="container {{ page.continerClass }}">
                    <h2>{{ page.title }}</h2>
                    {{ page.content }}
                </div>
            </section>
            {% include footer.html %}
        </div>
        {% include scripts.html %}
    </body>
</html>
